

.unit-forecast {
  position: relative;
  margin-right: 16px;
  width: 174px;
  height: 238px;
  color: #FFFFFF;
  padding: 20px;
  background: #373AF5;
  border: 2px solid #2C2D76;
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
  &__date {
    position: absolute;
    left:20px;
    top: 20px;
    font-size: 16px;
    line-height: 24px;
  }
  &__image {
    padding-top: 35px;
    display: block;
    margin: 0 auto;
    width: 120px;
    height: auto;
  }
  &__tmp {
    position: absolute;
    right:20px;
    bottom: 20px;
    font-size: 32px;
    line-height: 32px;
  }
  &__num {
    margin-right: 2px;
  }
}



.arrow {
  &.arrow-prev, &.arrow-next {
    position: absolute;
    top: 65%;
    width: 20px;
    height: 20px;
    transform: translate(0, -50%);
    cursor: pointer;
    display: none;
    @media (min-width: 1280px) {
      display: block;
    }
  }
  &.arrow-prev {
    left: 20px;
    &::before {
      display: block;
      content: ' ';
      background-image: url('../../assets/images/slide-arrow.svg');
      background-size: 28px 28px;
      height: 28px;
      width: 28px;
      transform: rotate(180deg);
    }
  }
  &.arrow-next {
    right: 20px;
    &::before {
      display: block;
      content: ' ';
      background-image: url('../../assets/images/slide-arrow.svg');
      background-size: 28px 28px;
      height: 28px;
      width: 28px;
    }
  }
}



