@import '../../variables.scss';

.select-past {
 &__date {
    @extend %Ubuntu-Regular;
    font-size: 16px;
    line-height: 24px;
    color: $secondColor;
    width: 252px;
    padding: 12px 16px;
    margin-bottom: 33px;
    background: rgba(128, 131, 164, 0.06);
    border: 2px solid rgba(128, 131, 164, 0.2);
    border-radius: 8px;
    &:focus {
      border: 2px solid #373AF5;
    }
    &:focus-visible {
      border: 2px solid #373AF5;
      outline: none;
    }
 }
}