@import "../../variables.scss";

.main-title {
  @extend %Ubuntu-Bold;
  font-size: 32px;
  color:#fff;
  max-width: 244px;
  margin: 0 auto;
  padding-top: 32px;
  margin-bottom: 24px;
  h2:first-child {
   text-align: left;
  }
  h2:last-child {
    text-align: right;
   }
   @media (min-width: 1280px) {
    max-width: 777px;
    font-size: 102px;
    line-height: 122px;
  }
  @media (min-width: 1580px) {
   margin-bottom: 60px;
  }
}

