@import "../../variables.scss";

.main-title {
  @extend %Ubuntu-Bold;
  font-size: 32px;
  color:#fff;
  max-width: 244px;
  margin: 0 auto;
  padding-top: 32px;
  margin-bottom: 24px;
  h2:first-child {
   text-align: left;
  }
  h2:last-child {
    text-align: right;
   }
   @media (min-width: 768px) {
    max-width: 777px;
    font-size: 102px;
    line-height: 122px;
  }
  @media (min-width: 1480px) {
   margin-bottom: 60px;
  }
}

.status-icon {
  position: fixed;
  z-index: 3;
  top: 15px;
  right: 15px;
  height: 30px;
  width: 30px;
  @media (min-width: 768px) {
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
  }
}

