@import "./variables.scss";

.wrapper {
 background: url('./assets/images/bg-up.svg') top right, 
             url('./assets/images/bg-down.svg') bottom left;
 /* background-size: 300px 100px, cover; */
 background-color: $bgColor;
 background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  @media (min-width: 1580px) {
    max-width: 1425px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, 660px);
    grid-gap: 34px;
   }
}
