@import "./variables.scss";

.wrapper {
 background: url('./assets/images/bg-up.svg') top right, 
             url('./assets/images/bg-down.svg') bottom left;
 background-color: $bgColor;
 background-repeat: no-repeat;
 @media (min-width: 1280px) {
  background-size: 1131px auto, 575px, auto;
 }
}

.container {
  min-height: calc(100vh - 370px);
  margin: 0 auto;
  @media (min-width: 1480px) {
    max-width: 1425px;
    display: flex;
   }
}
