@import "./variables.scss";

.wrapper {
 height: 100%;
 width: 100%;
 background: url('./assets/images/bg-up.svg') top right, 
             url('./assets/images/bg-down.svg') bottom left;
 /* background-size: 300px 100px, cover; */
 background-color: $bgColor;
 background-repeat: no-repeat;
}
